[submodule "overture-id-service"]
	path = overture-id-service
	url = https://github.com/cr-ste-justine/overture-id-service.git
[submodule "clin-overture-schemas"]
	path = clin-overture-schemas
	url = https://github.com/cr-ste-justine/clin-overture-schemas.git
[submodule "clin-overture-client"]
	path = clin-overture-client
	url = https://github.com/cr-ste-justine/clin-overture-client.git
[submodule "devops"]
	path = devops
	url = https://github.com/cr-ste-justine/devops.git
[submodule "overture-dev"]
	path = overture-dev
	url = https://github.com/cr-ste-justine/overture-dev.git
