[submodule "overture-id-service"]
	path = overture-id-service
	url = https://github.com/cr-ste-justine/overture-id-service.git
[submodule "fhir-import"]
	path = fhir-import
	url = https://github.com/cr-ste-justine/fhir-import.git
[submodule "clin-etl-FHIR"]
	path = clin-etl-FHIR
	url = https://github.com/cr-ste-justine/clin-etl-FHIR.git
